<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311579681099-bq8p7u4cqbue6du6fqi2130m398ogotb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311579681099-bq8p7u4cqbue6du6fqi2130m398ogotb</string>
	<key>API_KEY</key>
	<string>AIzaSyCMrAhb40QgPGgxTJCGO8GRY46y8larLBA</string>
	<key>GCM_SENDER_ID</key>
	<string>311579681099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edu.usc.duongvincent</string>
	<key>PROJECT_ID</key>
	<string>eventsc-6e56a</string>
	<key>STORAGE_BUCKET</key>
	<string>eventsc-6e56a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311579681099:ios:47722cce2fa850456848ce</string>
</dict>
</plist>